body {
  background-color: #f7f4ed;
}

.login-page {
  background-color: #f7f4ed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .header {
      margin: 0 auto;
      align-items: center;
      padding: 25px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #191919;
  
      .navigation {
          display: none;
      }
  
      .get-started {
          border: none;
          color: #ffffff;
          background-color: #191919;
          padding: 8px 16px;
          border-radius: 24px;
      }
  }
  
  .texts {
      width: 435px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-left: 100px;
      align-items: start;
  
      h1 {
          color: #242424;
          margin-top: 20vh;
          font-size: 80px;
          line-height: 72px;
          font-weight: 400;
      }

      p {
          font-size: 22px;
          line-height: 28px;
          color: #242424;
          font-weight: 400;
      }
  
      button {
          color: rgba(255, 255, 255, 1);
          background-color: #1A8917;
          border: none;
          padding: 8px 20px;
          border-radius: 28px;
          margin-top: 24px;
          line-height: 28px;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 20vh;
      }

      button:hover {
          background-color: #146111;
      }
  }        
  
  .modal-content {
      .form {
          .form-item {
              display: flex;
              flex-direction: column;
              gap: 3px;
          
              input {
                  border: none;
                  height: 34px;
                  background-color: #f1f1f1;
              }
          }
      
          button {
              color: rgba(255, 255, 255, 1);
              background: rgba(25, 25, 25, 1);
              padding: 8px 16px;
              border-radius: 24px;
              margin-top: 38px;
          }
      }
      
      .nav-item {
        background-color: #f7f4ed;
          display: flex;
          align-items: center;
          gap: 4px;
          justify-content: center;
  
          button {
              background-color: transparent;
              border: none;
              color: green;
          }
      }
  }
  
  footer {
      background-color: #f7f4ed;
      ul {
          display: flex;
          justify-content: center;
          gap: 20px;
          padding: 25px 20px;
  
          li {
              color: #6B6B6B;
              list-style: none;
          }  
          
          li:hover {
              text-decoration: underline;
          }
      }    
  }    
}